$mdc-theme-primary: #000; // change this to #000


@import "@material/textfield/mdc-text-field";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/button/mdc-button";

@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";

@import "@material/data-table/mdc-data-table";

body {
  margin: 0px;
  display: flex;
  height: 100vh;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

main {
    width: 0px;
    padding: 0px;
    margin: 0px;
}

.app-bar {
  position: absolute;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
  z-index: 7;
}


.mdc-form-field {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: 'center';
    //justify-content: 'center';
    //margin: 40px;
    margin-top: 75px;
    //background-color: red;
 
}

.mdc-text-field mdc-text-field--outlined {
    margin: 50px;
}
