$mdc-theme-primary: #000; // change this to #000

@import "@material/textfield/mdc-text-field";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/button/mdc-button";
@import "@material/data-table/mdc-data-table";
@import "@material/checkbox/mdc-checkbox";
@import "@material/data-table/mdc-data-table";
@import "@material/typography/mdc-typography";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";

@import "@material/snackbar/mdc-snackbar";
@import "@material/dialog/mdc-dialog";


.demo-width-class {
  width: 400px;
}

.demo-width-class {
  width: 400px;
}

body {
  margin: 0px;
  display: flex;
  height: 100vh;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
   overflow: auto;
   height: 100%;
}


.app-bar {
  position: absolute;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
  z-index: 7;
}

.mdc-form-field {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: 'center';
    margin: 40px;
    padding: 20px;
 
}

.mdc-text-field mdc-text-field--outlined {
    margin: 50px;
}

.button-container {
    flex: 1;
    align-items: center;
}
