<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>LoginMvc</display-name>
    <servlet>
        <servlet-name>AddDriverServlet</servlet-name>
        <servlet-class>com.alphacab.controller.AddDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDriverServlet</servlet-name>
        <servlet-class>com.alphacab.controller.CreateDriverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDriverServlet</servlet-name>
        <url-pattern>/add-driver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDriverServlet</servlet-name>
        <url-pattern>/createdriver</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <!-- <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>  -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.alphacab.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.alphacab.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.alphacab.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.alphacab.controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
</web-app>
