<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Alphacab</display-name>
     <!-- <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>  -->
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
     <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.alphacab.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.alphacab.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.alphacab.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.alphacab.controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDriverServlet</servlet-name>
        <servlet-class>com.alphacab.controller.AddDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDriverServlet</servlet-name>
        <servlet-class>com.alphacab.controller.CreateDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerHistoryServlet</servlet-name>
        <servlet-class>com.alphacab.controller.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>com.alphacab.controller.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriversListServlet</servlet-name>
        <servlet-class>com.alphacab.controller.DriversListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeAJourneyServlet</servlet-name>
        <servlet-class>com.alphacab.controller.TakeAJourneyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignedJobsServlet</servlet-name>
        <servlet-class>com.alphacab.controller.AssignedJobsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomersServedServlet</servlet-name>
        <servlet-class>com.alphacab.controller.CustomersServedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateInvoiceServlet</servlet-name>
        <servlet-class>com.alphacab.controller.CreateInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DailyReportServlet</servlet-name>
        <servlet-class>com.alphacab.controller.DailyReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetARideServlet</servlet-name>
        <servlet-class>com.alphacab.controller.GetARideServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomersListServlet</servlet-name>
        <servlet-class>com.alphacab.controller.CustomersListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDriverServlet</servlet-name>
        <url-pattern>/add-driver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDriverServlet</servlet-name>
        <url-pattern>/createdriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerHistoryServlet</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriversListServlet</servlet-name>
        <url-pattern>/drivers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAJourneyServlet</servlet-name>
        <url-pattern>/take-a-journey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignedJobsServlet</servlet-name>
        <url-pattern>/assigned-jobs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomersServedServlet</servlet-name>
        <url-pattern>/customers-served</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateInvoiceServlet</servlet-name>
        <url-pattern>/create-invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DailyReportServlet</servlet-name>
        <url-pattern>/daily-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetARideServlet</servlet-name>
        <url-pattern>/get-a-ride</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
</web-app>
